---
---

@import "minima";

/* Your overrides here */

.site-author {
  font-size: 0.9rem;
  margin-top: 1em;
  color: #888;
}
.site-author a {
  color: inherit;
  text-decoration: none;
}
.site-author a:hover {
  text-decoration: underline;
}


